* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: lightgrey; }

li a {
  text-decoration: none;
  font-weight: bold; }

.tituloprincipal {
  font-size: 80px;
  text-align: center;
  color: black; }

.nav-link {
  color: black; }

.nav-item {
  color: blue; }

main {
  background-color: bisque;
  width: 100%; }

.imgprincipal {
  background-image: url("../img/Rectangle 2.png");
  width: 100%;
  height: 200px; }

.ofertasindex h2 {
  text-align: center;
  font-size: 50px; }

.idcindex-1 img, .idcindex-2 img, .idcindex-3 img {
  width: 100%;
  height: 200px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px; }

.idcindex-4 img {
  width: 100%;
  height: 200px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 20px; }

.padreof {
  display: flex;
  flex-direction: row;
  width: 99%;
  justify-content: center; }

.idcindex-1 div a img, .idcindex-2 div a img, .idcindex-3 div a img, .idcindex-4 div a img {
  width: 30%;
  height: 20px;
  padding: none;
  margin: none;
  /*mixins*/ }

.novedades {
  text-align: center; }

.seccionni {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%; }

.ningr-1 img, .ningr-2 img, .ningr-3 img {
  width: 150%;
  height: 150px;
  width: 100%; }

.mainmujer {
  width: 100%;
  height: 380px;
  overflow: hidden; }

.grid-container {
  display: grid;
  width: 100%;
  height: 300px;
  gap: 20px;
  margin-top: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "foto-1 foto-2 foto-3 foto-4"; }
  .grid-container .foto-1 {
    grid-area: foto-1;
    width: 100%;
    height: 300px; }
  .grid-container .foto-2 {
    grid-area: foto-2;
    width: 100%;
    height: 300px; }
  .grid-container .foto-3 {
    grid-area: foto-3;
    width: 100%;
    height: 300px; }
  .grid-container .foto-4 {
    grid-area: foto-4;
    width: 100%;
    height: 300px; }

.mainhombre {
  width: 100%;
  height: 500px; }

.containerhombre {
  display: grid;
  width: 100%;
  height: 300px;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "hombre-1 hombre-2 hombre-3 hombre-4"; }
  .containerhombre .hombre-1 {
    grid-area: hombre-1;
    width: 100%;
    height: 300px;
    margin-top: 25px; }
  .containerhombre .hombre-2 {
    grid-area: hombre-2;
    width: 100%;
    height: 300px;
    margin-top: 25px; }
  .containerhombre .hombre-3 {
    grid-area: hombre-3;
    width: 100%;
    height: 300px;
    margin-top: 25px; }
  .containerhombre .hombre-4 {
    grid-area: hombre-4;
    width: 100%;
    height: 300px;
    margin-top: 25px; }

.mainhombre {
  background-color: lightblue; }

.mainosotros {
  width: 100%;
  height: 500px; }

.sobrenos {
  display: flex;
  flex-direction: row;
  gap: 25px; }

.imgnosotros {
  width: 100%;
  height: 400px; }

.pnosotros {
  margin-top: 50px; }

.formupadre {
  width: 100%;
  height: 480px; }
  .formupadre legend {
    text-align: center; }

.formu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 50px; }
  .formu input {
    width: 200%;
    height: 60px; }

footer {
  background-color: black;
  width: 100%;
  height: 50px; }

.iconosredes {
  background-color: lightpink;
  display: flex;
  gap: 20px;
  justify-content: center; }

.iconosredes, li {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  width: 100%;
  gap: 20px; }

@media (max-width: 768px) {
  .idcindex-1 img, .idcindex-2 img {
    width: 100%;
    height: 150px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row; }
  .idcindex-3 img, .idcindex-4 img {
    width: 100%;
    height: 150px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row; }
  .padreof {
    display: flex;
    width: 99%;
    justify-content: space-evenly;
    flex-direction: row; }
  .idcindex-1 div a img, .idcindex-2 div a img, .idcindex-3 div a img, .idcindex-4 div a img {
    width: 10%;
    height: 15px;
    padding: none;
    margin: none;
    /*mixins*/ } }

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    margin-left: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "foto-1 foto-2" "foto-3 foto-4"; }
    .grid-container .foto-1 {
      grid-area: foto-1;
      width: 50%;
      height: 150px; }
    .grid-container .foto-2 {
      grid-area: foto-2;
      width: 50%;
      height: 150px; }
    .grid-container .foto-3 {
      grid-area: foto-3;
      width: 50%;
      height: 150px; }
    .grid-container .foto-4 {
      grid-area: foto-4;
      width: 50%;
      height: 150px; } }

@media (max-width: 768px) {
  .containerhombre {
    display: grid;
    margin-left: 100px;
    justify-content: center;
    width: 70%;
    height: 150px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "hombre-1 hombre-2" "hombre-3 hombre-4"; }
    .containerhombre .hombre-1 {
      grid-area: hombre-1;
      display: flex;
      justify-content: center;
      height: 150px; }
    .containerhombre .hombre-2 {
      grid-area: hombre-2;
      display: flex;
      justify-content: center;
      height: 150px; }
    .containerhombre .hombre-3 {
      grid-area: hombre-3;
      display: flex;
      justify-content: center;
      height: 150px; }
    .containerhombre .hombre-4 {
      grid-area: hombre-4;
      display: flex;
      justify-content: center;
      height: 150px; } }

@media (max-width: 768px) {
  .sobrenos {
    display: flex;
    flex-direction: row;
    gap: 25px; }
  .imgnosotros {
    width: 100%;
    height: 300px;
    margin-top: 50px; }
  .pnosotros {
    margin-top: 30px; } }

@media screen and (max-width: 576px) {
  .idcindex-1 img, .idcindex-2 img {
    width: 50%;
    height: 150px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px; }
  .idcindex-3 img, .idcindex-4 img {
    width: 50%;
    height: 150px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px; }
  .padreof {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
    gap: 20px; }
  .idcindex-1 div a img, .idcindex-2 div a img, .idcindex-3 div a img, .idcindex-4 div a img {
    width: 10%;
    height: 15px;
    padding: none;
    margin: none;
    /*mixins*/
    justify-content: center; }
  .contactanos {
    text-align: center; } }

@media screen and (max-width: 576px) {
  .ningr-1, .ningr-2, .ningr-3 {
    width: 25%;
    float: left;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column-reverse; }
  .seccioni {
    width: 25%;
    float: left;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column-reverse; } }

@media screen and (max-width: 576px) {
  .grid-container {
    display: grid;
    width: 50%;
    margin-left: 200px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "foto-1" "foto-2" "foto-3" "foto-4"; }
    .grid-container .foto-1 {
      width: 50%;
      height: 130px; }
    .grid-container .foto-2 {
      width: 50%;
      height: 130px; }
    .grid-container .foto-3 {
      width: 50%;
      height: 130px; }
    .grid-container .foto-4 {
      width: 50%;
      height: 130px; }
  .mainmujer {
    width: 100%;
    height: 600px; } }

@media screen and (max-width: 576px) {
  .containerhombre {
    display: grid;
    width: 50%;
    margin-left: 200px;
    margin-top: 0%;
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "hombre-1" "hombre-2" "hombre-3" "hombre-4"; }
    .containerhombre .hombre-1 {
      width: 60%;
      height: 85px; }
    .containerhombre .hombre-2 {
      width: 60%;
      height: 85px; }
    .containerhombre .hombre-3 {
      width: 60%;
      height: 85px; }
    .containerhombre .hombre-4 {
      width: 60%;
      height: 85px; } }

@media screen and (max-width: 576px) {
  .sobrenos {
    display: flex;
    flex-direction: column; }
  .imgnosotros {
    width: 60%;
    height: 200px;
    margin-top: 20px;
    margin-left: 100px; }
  .pnosotros {
    margin-top: 10px; } }
