footer {
    background-color: black;
    width: 100%;
    height: 50px;
    
    
    
  }
  
  .iconosredes {
    background-color: lightpink;
    display: flex;
    gap: 20px;
    justify-content: center;    
    

  }
  

  
   .iconosredes,li {
      display: flex;
      list-style: none;
      text-align: center;
      align-items: center;
      width: 100%;
      gap: 20px;

    }
  
  
  