header {
    background-color: lightgrey;
  }
  
 
  
    li a {
      text-decoration: none;
      font-weight: bold;
    }
  
  
  
  .tituloprincipal {
    font-size: 80px;
    text-align: center;
    color: black;
  }
  
  
  
  .nav-link{
    color: black;
  }
  .nav-item{
    color: blue;
  }
 
  
  