.formupadre {
    width: 100%;
    height: 480px;
  
    legend {
      text-align: center;
    }
  }
  
  .formu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
  
    input {
      width: 200%;
      height: 60px;
    }
  }